<div class="card">
    <div class="card__body">
        <div class="card__front">
            <h5>Preview {{num}} - AR {{id}}</h5>
            <p>{{loremSentences}}</p>
            <ul>
                {{#each (randomRange 4)}}
                    <li>{{loremSentence}}</li>
                {{/each}}
            </ul>
            {{#each grades as |grade|}}
                <button class="card__front-button" data-card-flip-id="{{grade}}">Grade {{grade}}</button>
            {{/each}}
            <button class="card__front-back-button">&#8634;</button>

            {{#if (gt numberOfARs.length 1)}}
            <div class="card__other-ars">
                {{#each numberOfARs as |arId|}}
                    {{#ifEquals arId ../id}}
                        {{! Do not output the same AR button }}
                    {{else}}
                        {{! "join" BRs to buttons }}
                        {{#if (gt @index 0)}}<br>{{/if}}
                        <button class="ar__other-preview-button" data-ar="{{arId}}">AR {{arId}}</button>
                    {{/ifEquals}}
                {{/each}}
            </div>
            {{/if}}
        </div>
        <div class="card__back">
            {{#each grades as |grade|}}
                <div class="card__selection" data-grade-id="{{grade}}">
                    <h5>Grade {{grade}}</h5>
                    {{#each (randomRange 3 5)}}
                        <p>{{loremSentences}}</p>
                    {{/each}}

                    <button class="card__selection-back-button">&#8634;</button>
                </div>
            {{/each}}
        </div>
    </div>
</div>